/* Fonts */
@font-face {
    font-family: 'XoloniumNormal';
    src: url('fonts/xolonium-webfont.eot');
    src: url('fonts/xolonium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/xolonium-webfont.woff') format('woff'),
         url('fonts/xolonium-webfont.ttf') format('truetype'),
         url('fonts/xolonium-webfont.svg#XoloniumNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Primary elements */
body {
    background: url("img/web_background_4.jpg") no-repeat fixed center center / cover  black;
    background-color: black;
    color: #D0D0D0;
    font-family: "XoloniumNormal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}
h1 {
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}
h3 {
  line-height: 27px;
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4, h5, h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}
table {
    background: rgb(0, 0, 0); /* IE Fallback */
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border: 1px solid #436688;
}
table th { border: 1px solid #436688; background-color: #001021; }
table td {
    border: 1px solid #436688;
    font-size: 10px;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #222;
}
.table th, .table td {
    border: 1px solid #436688;
}
.table td {
    vertical-align: middle;
}
.table .tdcenter { text-align: center; }
.accordion-group {
    border: 1px solid rgb(39, 37, 37);
}
.accordion-inner {
    border: none;
}

/* One-off elements */
#statline {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    position: relative;
    top: -25px;
}
#xonborder {
    background: rgb(0, 0, 0); /* IE Fallback */
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 30px;
    margin-left: 0px;
    padding: 20px;
}
#title {
    color: #0088CC;
    font-size: 30px;
    margin-bottom: 15px;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 3px #333;
}
.indexform {
    margin: 20px 0px 20px 0px;
}
.indexbox {
    width: 250px;
}


/* Navigation bar */
.navbar-brand {
    margin-left: 0;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
}
.navbar-inverse {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}
.navbar-inverse .nav>.active>a, .navbar-inverse .nav>.active>a:hover, .navbar-inverse .nav>.active>a:focus {
    background: none repeat scroll 0 0 rgba(49, 49, 49, 0.6);
}
.navbar-inverse .nav>li>a, .navbar-brand {
    font-family: XoloniumNormal;
}
.search, input[type="search"] {
    background-color: #606060;
    border: 1px solid #202020;
    color: #AAAAAA;
    width: 100px;
}

/* Game scoreboard */
.game {
  float: left;
  margin-bottom: 30px;
  min-width: 700px;
  padding: 10px 7px;
}
.game a {
    color: #CCC;
}
.game a:hover {
    color: #d95f00;
    text-decoration: none;
}
.game tr {
    background-color: #000;
}
.game tr.red {
  background-color: #4d0000;
}
.game tr.blue {
  background-color: #00004d;
}
.game tr.yellow {
  background-color: #4d4d00;
}
.game tr.pink {
  background-color: #4d004d;
}
.game tr:hover {
    background-color: #222;
}

/* accuracy and weapon graphs */
.weapon-nav {
  height: 70px;
  margin-bottom: 20px;
}
.weapon-nav ul {
  display: block;
  list-style: none outside none;
}
.weapon-nav li {
  cursor: pointer;
  float: left;
  margin-right: 10px;
}
.weapon-nav li:hover {
  border-bottom: 2px solid #001021;
}
.weapon-nav .weapon-active {
  border-bottom: 2px solid #436688;
}
.weapon-nav p {
  text-align: center;
}

.flot table, .flot td {
  background-color: black;
	border: 0;
}

/* Player Info Tabs */
#gbtabcontainer { margin-top: 10px; }
#gbtab { font-size: 12px; }
.tabbable p { font-size: 14px; }
.tabs-below .nav-tabs > li > a { border-radius: 4px 4px 4px 4px; }
.nav-tabs > .active > a, .nav-tabs > .active > a:hover { background-color: #111; color: #aaa; border-color: #222; }
.nav-tabs > li > a { border-radius: 4px 4px 4px 4px; text-align: center; }
.nav-tabs > li > a:hover { background-color: #111; border-color: #333; }
.nav-tabs { border-bottom: 0px solid #000; }

.table .tdcenter { text-align: center; }

/* Game Info and Game Index*/
.game-detail img {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.game img {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.game-detail p,
.game h4 {
  float: left;
}

/* Navigation links */
.pagination > li > a, .pagination > li > span {
    background-color: #111111;
    border-color: rgb(49, 49, 49);
    color: rgb(121, 121, 121);
}
.pagination>li>a:hover, .pagination>li>a:focus, .pagination>.active>a, .pagination>.active>span{
    background-color: rgb(43, 34, 34);
}


/* Desktop-specific stuff */
@media (min-width: 768px) {
    .navbar-form {
        float: right;
    }
}
